<div class="container">
  <br/>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="alert alert-info" role="alert">
        <h2>Please select the option that you like the most</h2>
      </div>
      <div id="progresslabel">Progress:</div>
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" 
             style="width: 0%;">
        </div>
      </div>
      <hr/>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">    
      <table id="dce_table">
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <br/>

  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-7" style="text-align: center;">
      <button type="button" id="next" value="next" 
              class="btn btn-primary btn-lg continue">
        Next <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

</div>