<div id="container-instructions">

  <h1> 
      Please consider the following information [provided by the United States Department of Agriculture]:
  </h1>
  <hr>
  <div class="instructions well">
    <p> 
      The word sustain from the Latin sustinere (sus, from below and tenere, to hold), to keep in existence or maintain, implies long-term support or permanence. As it pertains to agriculture, sustainable describes farming systems that are capable of maintaining their productivity and usefulness to society indefinitely. Such systems must be resource-conserving, socially supportive, commercially competitive, and environmentally sound. Sustainable agriculture was addressed by Congress in the 1990 Farm Bill and the Food, Agriculture, Conservation, and Trade Act of 1990 (FACTA). Under that law, the term sustainable agriculture means an integrated system of plant and animal production practices having a site-specific application that will, over the long term: 
    </p>
    
    <ol>
      <li> 
        Satisfy human food and fiber needs 
      </li>
      <li> 
        Enhance environmental quality and the natural resource base upon which the agricultural economy depends
      </li>
      <li> 
        Make the most efficient use of nonrenewable resources and on-farm resources and integrate, where appropriate, natural biological cycles and controls
      </li>
      <li> 
        Sustain the economic viability of farm operations
      </li>
      <li> 
        Enhance the quality of life for farmers and society as a whole
      </li>
    </ol>

    <p>
      Consumers are increasingly demanding on the ethical dimension of food quality. This relates to the process of production and trade and its broad impacts on society and the environment. It includes a wide range of social, environmental or cultural issues such as the treatment of workers, a fair return to producers, environmental impacts and animal welfare. Guidelines about what specific practices meet long-term environmental, economic and social goals and constitute sustainable agriculture is still under debate. However, a handful of groups have attempted to develop standards and/or provide certification services based upon their own guidelines.
    </p>
  </div>

  </hr>
  
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8"></div>
      <div class="col-xs-2">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>

</div>
